body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none;}
a { text-decoration:none; color:#000;}
/*	a:hover { text-decoration:underline; } */
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
body,a,ul,li{text-decoration:none;list-style:none;outline:none;overflow:hidden;}

/*通用 start*/
.font{font-size:12px;font-weight:bold;color:#8F8E94;}
.big{margin-top:30px;}
.small{margin-top:10px;}
.line{line-height:26px;}
.left{float:left;}
.right{float:right;}
/*通用 end*/

.app{width:100%;height:0px;position:relative;top:0;left:0;}
/*歌曲操控域 start*/
.app .fm_box_big{width:100%;height:540px;background:#fafafa;position:relative;top:82px;left:0;}
.app .fm_box_big .fm_box_small{width:1024px;height:540px;position:relative;margin:0 auto;}
.operate{width:782px;height:540px;position:relative;}
.operate .singer_pic{width:200px;height:200px;position:absolute;top:40px;}
.operate .singer_info{width:400px;height:200px;position:absolute;left:240px;top:40px;}

.singer_info .liut .list{width:380px;height:24px;list-style:none;padding-left:20px;}
.singer_info .liut .list .fm_name{font-size:24px;line-height:24px;}
.singer_info .liut .list .singer_name{font-size:14px;}
.singer_info .pro{width:400px;height:56px;position:absolute;top:100px;}
.singer_info .pro #fm_time{
width:44px;height:20px;display:block;color:#999;padding-left:20px;}
.singer_info .pro .vol_icon{width:20px;height:20px;position:absolute;left:20px;bottom:0;}

/*音量调节 start*/
.vol{width:116px;height:20px;position:absolute;bottom:0;left:44px;}
.vol #vol_box{width:116px;height:4px;background:#DADADA;position:absolute;left:0;top:6px;}
#vol_box #plus{width:0%;height:4px;background:#6BBD7A;position:absolute;left:0px;top:0px;}
#vol_box #max{width:10px;height:10px;background:#6BBD7A;position:absolute;left:0px;top:-3px;display:inline-block;z-index:100;border-radius:50%;cursor:pointer;}
#vol_box #S{width:100%;height:20px;cursor:pointer;display:inline-block;position:absolute;left:0;top:-10px;} 
/*音量调节 end*/
.singer_info .pro .oper_liut{width:200px;height:20px;position:absolute;top:0;right:0;}
.singer_info .pro .progress{width:400px;height:2px;background:#DADADA;margin-top:4px;}
.singer_info .pro .progress #bar{width:0%;height:2px;background:#6BBD7A;}
.singer_info .mani{width:400px;height:26px;position:absolute;bottom:0;}
.singer_info .mani .mani_liut{width:400px;height:26px;}
.singer_info .mani .mani_liut .mani_list{width:26px;height:26px;float:left;cursor:pointer;margin-left:34px;}
/*歌曲操控域 end*/
